{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{deps, [
    {lager, "3.7.0"},
    {ra,              {git, "https://github.com/rabbitmq/ra.git", {tag, "v1.1.8"}}},
    {hashring,        {git, "https://github.com/sile/hash_ring.git", {tag, "0.4.2"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [lager, aten, ra, ra_test]}
]}.
